<%= form_with(model: [ @newspaper, @article ], local: true) do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <%= form.hidden_field :news_paper_id %>
    
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>