
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<ul>
  <li><%= link_to "Edit", edit_news_paper_article_path(@newspaper, @article) %></li>
  <li><%= link_to "Delete", news_paper_article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Home", news_paper_articles_path %></li>
 
</ul>

